#loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  pointer-events: none;
}

.transition-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  pointer-events: none;
  z-index: 2;
}

.block {
  flex: 1;
  height: 100%;
  background-color: var(--md-loading-bg);
  transform: scaleX(0);
  transform-origin: left;
}

.logo-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--md-loading-bg);
  pointer-events: none;
  opacity: 0;
}

.logo-container {
  width: 200px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;

  svg path {
    stroke: var(--md-on-background);
  }
}
